.hero-container .hero-wrapper {
  max-width: 1500px;
  padding-left: 3vw;
  padding-right: 3vw;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  max-height: 480px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  margin-top: 3vw;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 480px;
  border-radius: 18px 18px 0 0;
  object-position: bottom right;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}